@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}
.post-body {
    width: 100vw;
    font-family: 'Space Mono', monospace;
}

.nav-bar{
    background-color: #02803D;
    font-family: 'Space Mono', monospace;
    color: #dddf00;
}

.terminal {
    border-radius: 5px 5px 0 0;
    position: relative;
}

.terminal-top {
    background: #E8E6E8;
    color: black;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}
.terminal-btns {
    position: absolute;
    top: 7px;
    left: 5px;
}
.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
}

.terminal-title{
    text-align: center;
    padding: 0 25%;
}

.red { 
    background: #EC6A5F; 
    border-color: #D04E42; 
}

.green { 
    background: #64CC57; 
    border-color: #4EA73B; 
}

.yellow{ 
    background: #F5C04F; 
    border-color: #D6A13D; 
}

.terminal .post-body {
    background: black;
    color: #7AFB4C;
    padding: 8px;
    overflow: auto;
}

.space {
    margin: 25px;
}

.shadow { 
    box-shadow: 0px 0px 10px rgba(0,0,0,.4)
}

.vote-container {
    margin: auto 0;
}

.vote-font {
    color: orange;
}

.btn {
    border: #02803D solid 3px;
    margin-top: 15px;
}

.a-btn {
    color: #dddf00;
}